# topoWX
This downloads topoWX data using tsgettoolbox

In [1]:
from tsgettoolbox import tsgettoolbox as tsget

In [2]:
help(tsget.topowx_daily)

Help on function topowx_daily in module tsgettoolbox.functions.topowx:

topowx_daily(lat, lon, variables=None, start_date=None, end_date=None)
    US 30arcsecond 1948- M:Topoclimatic Daily Air Temperature Dataset.

    institution: USGS

    history: Created on: 2017-07-06, dataset version 2016.1

    references: http://dx.doi.org/10.1002/joc.4127
    , http://dx.doi.org/10.1002/2014GL062803
    , http://dx.doi.org/10.1175/JAMC-D-15-0276.1

    comment: The TopoWx ('Topography Weather') gridded dataset contains daily
    30-arcsec resolution (~800-m resolution; WGS84) interpolations of minimum
    and maximum topoclimatic air temperature for the conterminous U.S. Using
    both DEM-based variables and MODIS land skin temperature as predictors of
    air temperature, interpolation procedures include moving window regression
    kriging and geographically weighted regression. To avoid artificial climate
    trends, all input station data are homogenized using the GHCN/USHCN
    Pairwise Homogenization Algorithm
    (http://www.ncdc.noaa.gov/oa/climate/research/ushcn/#phas).

    Conventions: CF-1.6

    source: TopoWx software version 1.3.0 (https://github.com/jaredwo/topowx)

    license: This work is licensed under a Creative Commons
    Attribution-ShareAlike 4.0 International License
    (https://creativecommons.org/licenses/by-sa/4.0/).

    Metadata_Conventions: Unidata Dataset Discovery v1.0

    summary: The TopoWx ('Topography Weather') dataset contains historical
    30-arcsec resolution (~800-m) interpolations of daily minimum and maximum
    topoclimatic air temperature for the conterminous U.S. Using both DEM-based
    variables and MODIS land skin temperature as predictors of air temperature,
    interpolation procedures include moving window regression kriging and
    geographically weighted regression. To avoid artificial climate trends, all
    input station data are homogenized using the GHCN/USHCN Pairwise
    Homogenization Algorithm
    (http://www.ncdc.noaa.gov/oa/climate/research/ushcn/#phas). The following
    data are available in this archive: 1948-2016 daily and monthly minimum and
    maximum temperature, and 1981-2010 monthly normals for minimum and maximum
    temperature with corresponding uncertainty (kriging prediction error).
    Ongoing annual updates will regenerate the entire dataset incorporating
    both new observations and model enhancements. This will result in
    a continuously improved dataset. However, different versions of TopoWx will
    be incompatible. For instance, data from the original 1948-2012 version
    should not be mixed with data from the new 1948-2016 version.

    keywords: maximum temperature, minimum temperature, land skin temperature,
    MODIS, kriging, homogenization, gridded meteorological data

    id: topowx

    naming_authority: cida.usgs.gov

    cdm_data_type: Grid

    date_created: 2017-07-06

    creator_name: Jared Oyler

    creator_url: http://www.scrimhub.org

    creator_email: jared.oyler@psu.edu

    publisher_name: Office of Water Information

    publisher_url: https://owi.usgs.gov/

    publisher_email: wwatkins@usgs.gov

    date_issued: 2017-08-18

    project: TopoWx: Topoclimatic Daily Air Temperature Dataset for the
    Conterminous United States

    processing_level: Historical Gridded Meteorological Data

    acknowledgement: Please cite this data as: Oyler JW, Ballantyne A, Jencso
    K, Sweet M, Running S. Creating a Topoclimatic Daily Air Temperature
    Dataset for the Conterminous United States using Homogenized Station Data
    and Remotely Sensed Land Skin Temperature. International Journal of
    Climatology. http://dx.doi.org/10.1002/joc.4127

    geospatial_lat_min: 24.1

    geospatial_lat_max: 51.2

    geospatial_lon_min: -125

    geospatial_lon_max: -99.7

    time_coverage_start: 1948-01-01T00:00:00

    time_coverage_end: 2016-12-31T00:00:00

    time_coverage_resolution: P1D


    Parameters
    ----------
    lat
        The latitude of the point. North hemisphere is positive from 0 to 90. South
        hemisphere is negative from 0 to -90.

    lon
        The longitude of the point.  Western hemisphere (west of Greenwich Prime
        Meridian) is negative 0 to -180.  The eastern hemisphere (east of the Greenwich
        Prime Meridian) is positive 0 to 180.

    variables : str
        At the command line can supply a comma separated list of variable
        names.  Using the Python API needs to be a Python list of strings.

        The current list of available topowx variables are daily minimum
        temperature (tmin) and daily maximum temperature (tmax).

    start_date : str
        [optional, defaults to first date in time-series, input filter]

        The start_date of the series in ISOdatetime format, or 'None'
        for beginning.

    end_date : str
        [optional, defaults to last date in time-series, input filter]

        The end_date of the series in ISOdatetime format, or 'None' for
        end.

## Monthly data
This is a sample code to download daily data

In [3]:
topowx = tsget.topowx(lat=30, lon=-100, start_date="2014-01-01", end_date="2015-02-01")

In [4]:
topowx

            daily_maximum_temperature:degC  daily_minimum_temperature:degC
2014-01-16                           15.27                           -1.87
2014-02-15                           17.14                            1.42
2014-03-16                           20.89                            4.75
2014-04-16                           25.56                           10.62
2014-05-16                           28.47                           14.71
2014-06-16                           30.88                           20.04
2014-07-16                           32.61                           20.55
2014-08-16                           33.63                           20.29
2014-09-16                           29.63                           18.60
2014-10-16                           27.02                           13.44
2014-11-16                           17.89                            4.10
2014-12-16                           15.36                            4.73
2015-01-16                           13.44                           -0.32

## Daily data
This is a sample code to download daily data

In [5]:
topowx_daily = tsget.topowx_daily(
    lat=30, lon=-100, start_date="2014-01-01", end_date="2015-02-01"
)

In [6]:
topowx_daily

,daily_maximum_temperature:degC,daily_minimum_temperature:degC
2014-01-01 12:00:00,16.08,-1.42
2014-01-02 12:00:00,14.13,-1.45
2014-01-03 12:00:00,11.13,-5.06
2014-01-04 12:00:00,16.52,-2.31
2014-01-05 12:00:00,13.42,-0.69
...,...,...
2015-01-27 12:00:00,24.49,2.29
2015-01-28 12:00:00,24.96,3.40
2015-01-29 12:00:00,22.62,5.27
2015-01-30 12:00:00,12.38,5.21
2015-01-31 12:00:00,13.74,5.57